body{
    user-select: none;
    zoom:100%;
}


#donut{
    position:absolute;
    left: 600px;
    top: 200px;
}

#restaurant{
    display:none;
    width:1845px;
    height: 955px;
    
}
#gus{
    display:none;
}

#bubble{
    display:none;
    position:absolute;
    top:300px;
}
#welcome{
    position:absolute;
    display:none;
    left:1100px;
    top:850px;
}

#inside{
 display:none;
    
}

#guss{
    display:none;
}
#plocha{
    display:none;
}
