body{
    user-select: none;
    zoom:100%;
}


#donut{
    position:absolute;
    left: 600px;
    top: 200px;
}

#restaurant{
    display:none;
    width:1845px;
    height: 955px;
    
}

#welcome{
    display:none;
    position:absolute;
    font-family: cursive;
    font-size: large;
    left:1465px;
    top:800px;
}


#inside{
 display:none;
    width:1870px;
    height:945px;
}

#guss{
    display:none;
    position:absolute;
    left:1500px;
    top:320px;
}
#plocha{
    display:none;
}

#click{
    display:none;
    position:absolute;
    border-top-color:aqua;
    border-bottom-color: blue;
    border-right-color:blue ;
    border-left-color:darkblue;
    border-style:groove;
    left:840px;
    top:800px;
    width:100px;
    text-align:center;
    
}

#welcome{
    display:none;
    position:absolute;
font-family: cursive;
font-size: large;
left:1500px;
}

#kuchyn{
    display:none;
    position:absolute;
   top:830px;
   left:210px;
   border-color: transparent;
background-color:lightgray;
width:100px;
height:40px;
}

#kitchen{
    display:none;
    position:absolute;
   left: 100px;
   width:1870px;
   height:950px;
}

#back{
    display:none;
    left:30px;
    top:20px;
    font-size: large;
    color:black;
    border-style:solid;

}
